<section class="property-binding">
    <!--<article>
        <h3> Interpolation / Interpolação </h3>        
        <p> String renderizada com Interpolação: {{ url }} </p>
        <p> Resultado de 1 + 1: {{ 1 + 1 }} </p>
        <p> Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
        <p> Curso Angular e gostou do Curso {{ cursoAngular && getCurtirCurso () }} </p>
    </article>
    <article>
      <h3> Interpolação com imagem e Property Binding </h3>
      <img src="{{urlImagem}}">
      <img [src]="urlImagem">
      <p> </p>
    </article>-->

    <article>
        <h3> Class e Style Binding
        </h3>
    </article>
</section>
