
  <nav>
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo right">Home - Rotas NG2</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/login" > Login</a></li>
        <li routerLinkActive="active"><a routerLink="/cursos"> Cursos</a></li>   
        <!--Ao usar o routerLink como property binding, é possível passar parâmetros -->     
        <li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]"> Curso com ID</a></li>      
      </ul>
    </div>
  </nav>
        
<div class="container"> 
  <p> Entre com o ID do curso: </p>
  <input #idCurso>
    <router-outlet> </router-outlet>
</div>
